section(class="canvas front" id="front")

    div(class="content")

        h1 Real Estate Investing

        div

            p Focused on buy & hold rentals for cash flow


    +nav-1("Current Investments")
