section(class="canvas section-2" id="section-2")

    h2 Looking For

    div(class="content")

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Multi-family
                p.
                    Duplex, triplex and 4plexes in the $300-400K range

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 SFR
                p.
                    Single Family Rentals both townhomes & single family homes

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 SFH with ADUs
                p.
                    Single family homes with spaces like garages converted to rooms or accessory dwelling unit

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Partnerships
                p.
                    We are looking for partners where we can inject capital into large multi-family deals of 6+ doors
                    

    +nav-1("Contact Us")
