section(class="canvas section-1" id="section-1")

    h2 Current Investments

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Rentals in Sacramento, CA

                p.
                    We are currently focused on rental properties in growth areas of Sacramento

    +nav-1("Looking For")
